@import url("./fonts.css");

body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

div {
    box-sizing: border-box;
}

#addressBar {
    display: inline-table;
    padding: 0.3em 0.7em 0.3em 0.3em;
    width: 100%;
    flex-grow: 0;
    background-color: rgb(240, 240, 240);
}

#navigationButtonsContainer {
    display: table-cell;
    width: 5.4em;
}

#goBack, #goForward {
    font-weight: bold;
}

#goButton {
    font-weight: normal;
}

#urlFieldContainer {
    display: table-cell;
}

#urlField {
    width: 100%;
    font-size: 9pt;
}

#spinner {
    position: absolute;
    right: 0.5em;
}

#spinner-img {
    position: relative;
    width: 1em;
    top: 0.23em;
    right: 0.1em;
}

#webView {
    flex-grow: 1;
    background-color: white;
}