@import url("./fonts.css");

body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

div {
    box-sizing: border-box;
}

#addressBar {
    display: inline-table;
    padding: 0.5em 1em 0.5em 0.5em;
    width: 100%;
    flex-grow: 0;
}

#navigationButtonsContainer {
    display: table-cell;
    width: 5.4em;
}

#goBack, #goForward {
    font-weight: bold;
}

#goButton {
    font-weight: normal;
}

#urlFieldContainer {
    display: table-cell;
}

#urlField {
    width: 100%;
    font-size: 9pt;
}

#spinner {
    position: absolute;
    right: 0.7em;
}

#spinner-img {
    position: relative;
    width: 1em;
    top: 0.2em;
    right: 0;
}

#addressHint {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
    max-width: calc(100vw - 30px);
}

#addressHint.hidden {
    display: none;
}

#addressHintURL {
    display: inline-block;
    margin: 0;
    padding: 0.4em 0.2em 0.4em 0.5em;
    border-radius: 0.5em;
    background-color: rgba(230, 230, 230, 1);
    font-size: 8.5pt;
    width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

#webView {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    background-color: white;
}

#errorInfo {
    margin: 0 0.5em 0.5em 0.5em;
    padding: 1em;
    flex-grow: 0;
    border: 2px solid rgba(255, 0, 0, 0.3);
    border-radius: 0.5em;
    font-size: 10pt;
    cursor: pointer;
}

#addressBar[style="display: none;"] + #errorInfo {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

#errorInfo * {
    margin: 0;
    padding: 0;
}

#errorInfo strong {
    display: inline-block;
    width: 11em;
}
